@model G4.BizPermit.Entities.Quarter

@{
    ViewBag.Title = "Edit Quarter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header text-center">
    <h1 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Quarter</h1>
</div>

<div class="panel panel-warning">
    <div class="panel-heading">EDIT Quarter</div>
    <div class="form-horizontal panel-body">
        <form action="@Url.Action("Edit")" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="UniqueId" value="@Model.Id" />

            <div class="form-group">
                <label class="control-label col-md-2">Quarter Name:</label>
                <input type="text" class="form-control col-md-10" name="Name" value="@Model.Name" placeholder="Quarter Name" required/>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Created By:</label>
                <input type="text" class="form-control col-md-10" name="CreatedBy" value="@Model.CreatedBy" placeholder="Created By" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Created Date:</label>
                <input type="date" class="form-control col-md-10" name="CreatedDate" value="@Model.CreatedDate.ToString("yyyy-MM-dd")" disabled/>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Active:</label>
                @if (Model.IsActive)
                {
                    <input type="radio" name="IsActive" value="true" checked="checked" /> @:True
                    <input type="radio" name="IsActive" value="false" /> @:False
                    }
                else
                {
                    <input type="radio" name="IsActive" value="true" /> @:True
                    <input type="radio" name="IsActive" value="false" checked="checked" /> @:False
                }
            </div>

            <div class="form-group">
                <a href="@Url.Action("Index")" class="btn btn-danger col-sm-offset-2">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp; Cancel
                </a>
                <button type="reset" class="btn btn-warning">
                    <span class="glyphicon glyphicon-refresh"></span>&nbsp; Reset
                </button>
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Save
                </button>
            </div>
        </form>
    </div>
</div>