@model List<G4.BizPermit.Entities.BusinessRecord>
@{
    ViewBag.Title = "Business Records";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header text-center">
    <h1 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">BUSINESS RECORD</h1>
</div>

<div class="row" style="padding: 15px">
    <a type="button" class="btn btn-danger col-lg-1 col-md-2 col-sm-3 col-xs-3" aria-label="left Align" href="/Home">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
    </a>
    <div class="col-lg-10 col-md-8 col-sm-6 col-xs-6"></div>
    <button type="button" class="btn btn-success col-lg-1 col-md-2 col-sm-3 col-xs-3" aria-label="left Align" onclick="location.href='@Url.Action("Add")'">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
    </button>
</div>

<div class="panel panel-info">
    <div class="panel-body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Business Name</th>
                    <th>Business Nature</th>
                    <th>Business Owner</th>
                    <th>Start Date</th>
                    <th>Contact No.</th>
                    <th>Assessed</th>
                    <th>Collected</th>
                    <th>Active</th>
                    <th>Complete Requirements</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entity in Model)
                {
                    <tr>
                        <td>@entity.BusinessName</td>
                        <td>
                             @entity.BusinessDetail.BusinessLine.BusinessNature.BusinessNatureName
                        </td>
                        <td>
                            @entity.BusinessOwner.FirstName @entity.BusinessOwner.LastName
                        </td>
                        <td>@entity.StartDate.ToShortDateString()</td>
                        <td>@entity.ContactNo</td>
                        <td>@if (entity.isAssessed <= 0)
                        {
                            @: False
                        } else
                        {
                            @: True
                        }</td>
                        <td>@if (entity.isCollected <= 0)
                        {
                            @: False
                        }
                        else
                        {
                            @: True
                        }</td>
                        <td>@entity.isActive</td>
                        <td>@if (entity.BusinessDetail.isNew) {
                                if (entity.Requirements.Count == ViewBag.GetNew.Count)
                                {
                                    @: Yes
                                } else
                                {
                                    @: No
                                }
                            }
                            else
                            {
                                if (entity.Requirements.Count == ViewBag.GetReNew.Count)
                                {
                                    @: Yes
                                }
                                else
                                {
                                    @: No
                                }
                        }
                        </td>
                        <td>
                            <a href="/BusinessRecord/Edit/@entity.UniqueId"><span class="glyphicon glyphicon-edit"></span> Edit</a> |
                            <a href="/BusinessRecord/Delete/@entity.UniqueId"><span class="glyphicon glyphicon-trash"></span> Delete </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer text-center">
        Total of @Model.Count() records.
    </div>
</div>