@model G4.BizPermit.Entities.Barangay
@{
    ViewBag.Title = "Delete Barangay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header text-center">
    <h1 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">BARANGAY</h1>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">ARE YOU SURE YOU WANT TO DELETE THIS RECORD?</div>
    <div class="form-horizontal panel-body">

        <dl class="dl-horizontal">
            <dt>Barangay Code:</dt>
            <dd>@Model.Code</dd>

            <dt>Barangay Name:</dt>
            <dd>@Model.Name</dd>

            <dt>Description:</dt>
            <dd>@Model.Description</dd>

            <dt>District:</dt>
            <dd>
                @foreach(var district in ViewBag.districts)
                {
                    if(district.Id == Model.DistrictId)
                    {
                        @district.Name
                    }
                }
            </dd>

            <dt>Active?</dt>
            <dd>@Html.DisplayFor(model => model.isActive)</dd>
        </dl>

        <form action="@Url.Action("Delete")" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="UniqueId" value="@Model.UniqueId" />
            <div class="form-group">
                <a href="@Url.Action("Index")" class="btn btn-primary col-sm-offset-2">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp; Cancel
                </a>
                <button type="submit" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>&nbsp; Delete
                </button>
            </div>
        </form>
    </div>
</div>